{% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');

    (function(w, d) {
      var pushStateEl = d.getElementById('_pushState');
      var timeoutId;

      if (!pushStateEl) return;

      pushStateEl.addEventListener('hy-push-state-load', function() {
        w.clearTimeout(timeoutId);
        timeoutId = w.setTimeout(function() {
          gtag('event', 'page_view', {
            page_title: d.title,
            page_location: w.location.href,
            page_path: w.location.pathname + w.location.search
          });
        }, 500);
      });
    }(window, document));
  </script>
{% endif %}
