<div id="_navbar" class="navbar fixed-top">
  <div class="content">
    <span class="sr-only">{{ site.data.strings.jump_to | default:"Jump to" }}{{ site.data.strings.colon | default:":" }}</span>
    <div class="nav-btn-bar">
      <a id="_menu" class="nav-btn no-hover" href="#_drawer--opened">
        <span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </a>

      <!-- Explicit Desktop-only buttons with SVG for instant load -->
      <button id="_dark-mode" class="nav-btn no-hover desktop-only">
        <span class="sr-only">{{ site.data.strings.dark_mode | default:"Dark Mode" }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
      </button>

      <button id="_search" class="nav-btn no-hover desktop-only">
        <span class="sr-only">{{ site.data.strings.search | default:"Search" }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </button>

      <div class="nav-span"></div>
      <div id="_nav-shortcuts">
        <div class="mobile-only">
          {% if page.layout == "welcome" or page.url == "/" %}
            <a href="{{ '/papers/' | relative_url }}" class="nav-shortcut">
              Publications
            </a>
          {% elsif page.url contains "/papers/" or page.title == "Publications" %}
            <a href="{{ '/' | relative_url }}" class="nav-shortcut">
              Zezhong Wang
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="sr-only" hidden />
