<!-- {% if include.paper.doc-url %}<a href="{{ include.paper.doc-url }}">{% endif %}
  {{ include.paper.title }}{% if include.paper.doc-url %}</a>{% endif %}<br/>
{% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}  
{% case include.paper.paper-type %}
  {% when "inproceedings" %}
    In <i>{{ include.paper.booktitle }}</i>.
  {% when "article" %}
    In <i>{{ include.paper.journal }}</i>,
      {% if include.paper.volume %}{{ include.paper.volume }}{% endif %}{% if include.paper.number %}({{ include.paper.number }}){% endif %}
      {% if include.paper.article%}: Article {{ include.paper.article}},{% endif %}
      {% if include.paper.pages %}: pages {{ include.paper.pages }},{% endif %}.
  {% when "dissertation" %}
    Dissertation, {{ include.paper.institution }}.
{% endcase %} 
{{ include.paper.year }}. 
{% if include.paper.note %} 
  {{ include.paper.note }} 
{% endif %} -->

<div class="pubWrapper">
	<div class="pubImage">
		<img
			src="/figures/{{ include.item.img }}"
			alt="{{ include.item.img_alt }}"
		/>
	</div>

	<div class="pubText">
		<p>
			<a
				href="{{ include.item.paperlink }}"
				style="font-weight: bold"
				target="_blank"
				>{{ include.item.title }}</a
			>: {{ include.item.authors }}.
			<i>{{ include.item.journal_conf }}.</i>
			({{ include.item.year}}). {% if include.item.weblink %}
			<a href="{{ include.item.weblink }}" target="_blank">[WEB]</a>
			{% endif %} {% if include.item.videolink %}
			<a href="{{ include.item.videolink }}" target="_blank">[VIDEO]</a>
			{% endif %}{% if include.item.awards %}
			<span style="font-weight: bold; text-transform: uppercase"
				>{{ include.item.awards }}</span
			>
			{% endif %}
		</p>
	</div>
</div>
